
.container {
  max-width: 100%;
  max-height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .header {
    display: flex;
    justify-content: space-between;
    .label {
      font-size: 24px;
    }
    .gg-close {
      box-sizing: border-box;
      position: relative;
      display: block;
      transform: scale(var(--ggs,1));
      width: 22px;
      height: 22px;
      border: 2px solid transparent;
      border-radius: 40px;
      cursor: pointer;
     }

     .gg-close::after,
     .gg-close::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 16px;
      height: 2px;
      background: currentColor;
      transform: rotate(45deg);
      border-radius: 5px;
      top: 8px;
      left: 1px
     }

     .gg-close::after {
      transform: rotate(-45deg)
     }
  }

  .form {
    margin-top: 48px;
    width: 100%;
    max-height: 100%;

    input[type="text"]
{
    font-size:18px;
    text-indent:10px;
}


    .control {
      margin-bottom: 24px;
      .categoryInput {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 2px #00000014;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        opacity: 1;
        height: 55px;
        width: 99%;
      }
    }

    .submit {
      width: 100%;
      height: 64px;
      background: #000000 0% 0% no-repeat padding-box;
      border-radius: 4px;
      opacity: 1;
      cursor: pointer;

      span {
        color: white;
        font-size: 16px;
      }
    }
  }

}
