.container {
  max-width: 100%;
  max-height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .header {
    display: flex;
    justify-content: space-between;
    .label {
      font-size: 24px;
    }
    .gg-close {
      cursor: pointer;
    }
  }

  .containerDrop {
    width: 100%;
    max-height: 500px;

    .box__input {
      margin-top: 28px;
      border: 2px solid;
      width: 100%;
      height: 258px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px dashed #dddddd;
      border-radius: 4px;
      opacity: 1;
      margin-bottom: 24px;
      display: flex;

      .gg-image {
        margin: 0 auto 12px auto;
      }

      .drag_and_drop-visual {
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        .text {
          display: flex;
          flex-direction: column;
          .row-1 {
            margin-bottom: 16px;
          }
          .row-2 {
            margin-bottom: 24px;
            letter-spacing: 0px;
            color: #000000;
            opacity: 0.56;
          }
          .row-3 {
            display: flex;
            width: 170px;
            height: 48px;
            border: 2px solid #000000;
            border-radius: 4px;
            opacity: 1;
            cursor: pointer;
            font-weight: bold;
            font-weight: bold;
            transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            .text {
              margin: auto;
            }
            &:hover {
              background-color: rgba(169, 169, 169, 0.5);
            }
          }
        }
      }
    }

    .submit {
      margin-top: 20px;
      width: 100%;
      height: 64px;
      background: #000000 0% 0% no-repeat padding-box;
      border-radius: 4px;
      opacity: 1;
      cursor: pointer;
      transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      &:hover {
        background-color: rgba(0, 0, 0, 0.65);
      }
      span {
        color: white;
        font-size: 16px;
      }
    }
    .label {
      margin-bottom: 10px;
      font-weight: bold;
    }

    .files {
      display: flex;
      .deleteBtn {
        margin-left: 15px;
        .gg-trash {
          transform: scale(0.9);
        }
        .gg-trash:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
    .warning {
      font-weight: bolder;
    }
  }
}
