<div class="container">
  <div class="header">
    <div>
      <span class="label">Pridať fotky</span>
    </div>
    <div>
      <i class="gg-close" (click)="closeDialog(null)"></i>
    </div>
  </div>

  <div class="containerDrop" appDnd (fileDropped)="onFileDropped($event)">
    <div class="box__input">
      <div class="drag_and_drop-visual">
        <input type="file" id="drop" style="display: none" #fileDropRef id="fileDropRef"
          (change)="fileBrowseHandler($any($event).target.files)" multiple>
        <i class="gg-image"></i>
        <div class="text">
          <span class="row-1">Sem presunte fotky</span>
          <span class="row-2">alebo</span>
          <label class="row-3" for="fileDropRef">
            <span class="text">Vybrat subory</span>
          </label>
        </div>
      </div>
    </div>
    <div>
      <button class="submit"><span>Pridať</span></button>
    </div>
  </div>
</div>
