.container {
  max-width: 100%;
  max-height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .header {
    display: flex;
    justify-content: space-between;
    .label {
      font-size: 24px;
    }
    .gg-close {
      box-sizing: border-box;
      position: relative;
      display: block;
      transform: scale(var(--ggs,1));
      width: 22px;
      height: 22px;
      border: 2px solid transparent;
      border-radius: 40px;
      cursor: pointer;
     }

     .gg-close::after,
     .gg-close::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 16px;
      height: 2px;
      background: currentColor;
      transform: rotate(45deg);
      border-radius: 5px;
      top: 8px;
      left: 1px
     }

     .gg-close::after {
      transform: rotate(-45deg)
     }
  }

  .form {
    width: 100%;
    max-height: 500px;

  //   input[type="file"] {
  //     display: none;
  // }


    .box__input {
      margin-top: 28px;
      border: 2px solid;
      width: 100%;
      height: 258px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px dashed #DDDDDD;
      border-radius: 4px;
      opacity: 1;
      margin-bottom: 24px;
      display: flex;
      .gg-image {
        margin: 0 auto 12px auto;
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 20px;
        height: 16px;
        overflow: hidden;
        box-shadow: 0 0 0 2px;
        border-radius: 2px
       }

       .gg-image::after,
       .gg-image::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border: 2px solid
       }

       .gg-image::after {
        transform: rotate(45deg);
        border-radius: 3px;
        width: 16px;
        height: 16px;
        top: 9px;
        left: 6px
       }

       .gg-image::before {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        top: 2px;
        left: 2px
       }

       .drag_and_drop-visual {
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        .text {
          display: flex;
          flex-direction: column;
          .row-1 {
            margin-bottom: 16px;
          }
          .row-2 {
            margin-bottom: 24px;
          }
          .addFileButton {
            width: 170px;
            height: 48px;
            border: 2px solid #000000;
            border-radius: 4px;
            opacity: 1;
            cursor: pointer;
            .row-3 {
              font-weight: bold;
            }
          }
        }
       }
    }


.submit {
  width: 100%;
  height: 64px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  cursor: pointer;

  span {
    color: white;
    font-size: 16px;
  }
}


}



}
