

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
}

.background {
  background-color: #00000014;
  min-height: 100vh;
}

.container {
  padding: auto;
  margin: auto;
  max-width: 1300px;
  position: relative;
  justify-content: center;

}

.category-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 100px;
  .category-item {
    flex: 0 1 auto;
    height: 295px;
    width: 290px;
    max-width: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 3fr 1fr;
  }
  .add-category-item {
    flex: 0 1 auto;
    height: 295px;
    width: 290px;
    max-width: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr;
    cursor: pointer;
    .addLabel {
      display: block;
      margin: auto;


      span {
        font-family: 'Barlow', 'Regular';
        font-size: 18px;
      }
      .gg-add-r{
        opacity: 32%;
        margin: auto;
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 22px;
        height: 22px;
        border: 2px solid;
        transform: scale(var(--ggs,1));
        border-radius: 4px
       }

       .gg-add-r::after,
       .gg-add-r::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 2px;
        background: currentColor;
        border-radius: 5px;
        top: 8px;
        left: 4px
       }

       .gg-add-r::after {
        width: 2px;
        height: 10px;
        top: 4px;
        left: 8px
       }
    }


}
}


.photo {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.counter {
  padding: 10px;
  position: absolute;
  width: 150px;

}

.numberCounter {
  color: white;
  text-align: center;
  position: absolute;
  font-size: 13px;
  border-radius: 15px;
  background-color: darkgrey;
  opacity: 70%;
  width: 50%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.category {
  display: flex;
  text-align: center;
  span {
    margin: auto;
  }
}


.contentLabel {
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
  width:100%;
  max-width: 1312px;
}


.label {
  text-align: start;
  font-family: 'Barlow Medium';
}

.photoLabel {
  font-size: 36px;
  margin-bottom: 15px;
}

.categoriesLabel {
 font-size: 18px;
}
