* {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
}

.background {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.container {
  padding: auto;
  margin: auto;
  max-width: 1300px;
  position: relative;
  justify-content: center;
}

.category-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 100px;
  .category-item {
    flex: 0 1 auto;
    height: 295px;
    width: 290px;
    max-width: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 3fr 1fr;
    box-shadow: 0px 4px 24px #00000014;
    cursor: pointer;
    transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      opacity: 0.5;
    }
  }
}

.photo {
  object-fit: cover;
  background-size: cover;
  background-position: center;

}

.counter {
  padding: 10px;
  position: absolute;
  width: 150px;
  cursor: pointer;
}

.numberCounter {
  color: white;
  text-align: center;
  position: absolute;
  font-size: 13px;
  border-radius: 15px;
  background-color: rgba(169, 169, 169, 0.7);
  width: 50%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  display: flex;
  text-align: center;
  span {
    margin: auto;
  }
}

.contentLabel {
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
  width: 100%;
  max-width: 1312px;
}

.label {
  text-align: start;
  font-family: "Barlow Medium";
}

.photoLabel {
  font-size: 36px;
  margin-bottom: 15px;
}

.categoriesLabel {
  font-size: 18px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .background {
    max-width: 80%;
    display: flex;
    margin: auto;
    .container {
      width: 90%;
      margin: 0 auto;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
  .background {
    max-width: 50%;
    display: flex;
    margin: auto;
    .container {
      width: 90%;
      margin: 0 auto;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 767px) {
  .background {
    max-width: 80%;
    display: flex;
    margin: auto;
    .container {
      width: 100%;
      margin: 0 auto;
      .category-container {
        gap: 32px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .background {
    max-width: 95%;
    display: flex;
    margin: auto;
    .container {
      width: 100%;
      margin: 0 auto;
      .category-container {
        gap: 32px;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .background {
    max-width: 80%;
    display: flex;
    margin: auto;
    .container {
      width: 100%;
      margin: 0 auto;
      .category-container {
        gap: 32px;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .background {
    max-width: 100%;
    display: flex;
    margin: auto;
    .container {
      width: 100%;
      margin: 0 auto;
      .category-container {
        gap: 32px;
      }
    }
  }
}
