<div class="background">
  <div class="container">
    <div class="contentLabel">
      <div class="label">
        <div>
          <span class="photoLabel">Fotogaléria</span>
        </div>
        <br />
        <div>
          <span class="categoriesLabel">Kategorie</span>
        </div>
      </div>
    </div>
    <div class="category-container">
      <div class="category-item" *ngFor="let category of galleryData">
        <div class="counter" (click)="redirectToGallery(category?.name)">
          <span class="numberCounter"
            >{{ category?.images?.length | photoPipe }}
          </span>
        </div>
        <div
          class="photo"
          [style.backgroundImage]="
            'url(http://api.programator.sk/images/360x360/' +
            category?.image?.fullpath +
            ')'
          "
          (click)="redirectToGallery(category?.name)"
        ></div>
        <div class="category">
          <span class="category-text">{{ category?.name }}</span>
        </div>
      </div>
      <app-main-gallery-add-item
        [galleryData]="this.galleryData"
      ></app-main-gallery-add-item>
    </div>
  </div>
</div>
